body {
    background: url("../imgs/bg.jpg") no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 10%;
    background-color: rgba(13, 23, 80, 0.4);
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
    position: relative;
}

.header-logo {
    width: 20%;
    height: 100%;
    /*background: url("../imgs/logo.png") no-repeat;*/
    /*background-size: 100% 100%;*/
    float: left;
}

.header-logo img {
    width: 14.72em;
    height: 2.28em;
    margin-top: 6%;
    margin-left: 0.8em;
}

/*头部目录切换*/

.header_tabs {
    width: 57%;
    height: 100%;
    float: left;
    margin-left: 2.4em;
}
/*.header_tabs>span{*/
    /*height: 80%;*/
    /*line-height: 250%;*/
    /*display: inline-block;*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
    /*margin: 0 auto;*/
    /*color: rgba(255,255,255,1);*/
    /*font-size: 1.2em;*/
    /*margin-top: 1%;*/
    /*padding-left: 2%;*/
    /*border-left: 1px solid rgba(255,255,255,0.3);*/
/*}*/
.header_tabs>ul {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 0.96em;
}

.header_tabs>ul>li {
    height: 100%;
    float: left;
    vertical-align: middle;
    padding: 2%;
    padding-top: 3%;
    cursor: pointer;
}
.header_tabs>ul>li.jypt ul{
    width: 8.5%;
    position: absolute;
    top: 4.5em;
    left: 23.2%;
    background-color: rgba(13, 23, 80, 0.8);
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
    text-align:center;
    padding: 0 0.1em;
    display: none;
}
.header_tabs>ul>li.jypt ul li{
    padding: 0.4em 0;
    margin-top: 0.2em;
}
.header_tabs>ul>li.jypt>span{
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    background: url("../imgs/icon.png") no-repeat;
    background-size: 100% 100%;
    margin-left: 0.5em;
}
.dropdown-menu_li_active{
    border: 1px solid #00B2F8;
    color: #00B2F8;
}
.header_tabs_active{
    background: url("../imgs/top-select.png") no-repeat;
    background-size: 100% 100%;
}

.date_time {
    width: 10%;
    height: 100%;
    float: left;
    /*background-color: #1b6d85;*/
    margin: 0 auto;
    text-align: center;
    padding-top: 2%;
    color: white;
}

.date_time span {
    width: 90%;
    height: 90%;
    margin: 0 auto;

}

.header_btns {
    width: 12.8em;
    height: 3.36em;
    margin-top: 0.5%;
    margin-right: 0.8em;
    background: url("../imgs/header_right.png") no-repeat;
    background-size: 100% 100%;
    float: right;
}

.content {
    width: 100%;
    height: 90%;
}

/*侧边栏*/
.content .slider {
    width: 14%;
    height: 100%;
    background-color: rgba(13, 23, 80, 0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
    color: white;
    float: left;
}
.content .slider .slider_title{
    width: 100%;
    padding: 10% 0;
    text-align: center;
    font-size: 0.96em;
    border-bottom: 1px solid rgb(13, 23, 80);

}
.content .slider .menus {
    width: 100%;
    height: 90%;
    text-align: left;
    margin-top: 5%;
    font-size: 0.8em;
}

.content .slider .menus li {
    padding: 3% 0;
    width: 100%;
    display: inline-block;
    cursor: pointer;
}

.content .slider .menus li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.content .slider .menus ul.sub_menus {
    display: none;
}

.content .slider .menus .sub_menus {
    text-align: center;
}

.content .slider .menus .sub_menus li img {
    width: 0.8em;
    height: 0.8em;
    margin-right: 0.5em;
    display: inline-block;
}

.li_active {
    background: url("../imgs/side-select.png") no-repeat;
    background-size: 100% 100%;
    /*color: #00B2F8;*/
}

.content .slider .menus > li {
    height: auto;
    padding: 4% 0;
    position: relative;
    padding-left: 15%;
}

.content .slider .menus > li span {
    width: 0.6em;
    height: 0.4em;
    position: absolute;
    top: 40%;
    right: 15%;
    display: inline-block;
    background: url("../imgs/dropdown.png") no-repeat;
    background-size: 100% 100%;
}

.rotate {

}

/*内容部分*/

.main,.quanyilei{
    width: 86%;
    height: 100%;
    display: none;
    float: left;
}
.quanyilei img{
    width: 100%;
    height: 100%;
}
.active {
    display: block;
}

.main .box {
    width: 100%;
    height: 100%;
    display: none;
}
.main .box>img{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.main .box_active {
    display: block;
}

.main .box1{
    width: 98%;
    height: 97%;
    margin: 0 auto;
}
.box2,.box3,.box4,.box5{
    width: 100%;
    height: 100%;
}
.main .box .box_header {
    width: 100%;
    height: 10%;
    margin: 1% auto;
    background-color: rgba(13, 23, 80, 0.4);
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

.main .box .box_header ul {
    width: 100%;
    height: 100%;
    font-size: 0.96em;
}

.main .box .box_header ul li {
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding-top: 1%;
    color: white;
}

.main .box .box_header ul li span {
    font-size: 1.67em;
    color: #ffd769;
    margin-right: 0.5em;
}

.main .box .box_header ul li:last-of-type span {
    color: #ff3333;
}

.main .box .box_content {
    width: 100%;
    height: 88%;
    font-size: 0.8em;
}
.main img{
    width: 98%;
    height: 98%;
    display: inline-block;
}
.main .box1 .box_content .box1_left {
    width: 39%;
    height: 100%;
    /*background-color: rgba(13, 23, 80, 0.4);*/
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
    float: left;
    position: relative;
    margin-right: 1%;
}
.main .box1 .box_content .box1_left .jgfbt{
    width: 100%;
    height: 100%;
    background: url("../imgs/map.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.jgfbt>img{
    position: absolute;
    width: 10em;
    height: 12em;
    background-color: transparent;

    left: 40%;
    top: 20%;
    cursor: pointer;
    display: inline-block;
}
img[src=""]{
    opacity: 0;
}
.jgfbt>img:first-of-type{
    left: 31%;
    top: 48%;
}
.jgfbt>img:nth-of-type(2){
    left: 28%;
    top: 17%;
}
.jgfbt>img:nth-of-type(3){
    left: 52%;
    top: 15%;
}
.jgfbt>img:nth-of-type(4){
    left: 63%;
    top:47%;
}
.jgfbt>img:nth-of-type(5){
    left: 46%;
    top: 33%;
}
.jgfbt_header,.fxzlzb_header,.yhs_header,.cdzj_header{
    color: white;
    text-align: left;
    padding-left: 3%;
    padding-top: 1%;
    width: 100%;
    height: 5.5%;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top:0;
    left: 0;
}
.fxzlzb_header,.yhs_header,.cdzj_header{
    height: 11%;
}
.yhs_header b ,.cdzj_header b{
    position: static;
    color: #ffd769;
    margin-left: 3%;
}
.cdzj_header{
    height: 22%;
    padding-top: 2%;
}
.main .box1 .box_content span {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 1em;
    height: 1em;
    display: inline-block;
    /*background-color: red;*/
    background: url("../imgs/enlarge.png") no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
.main .box1 .box_content .box1_left>span{
    top: 1%;
}
.main .box1 .box_content .bottom-right_top_right_bottom>span{
    top:5%;
}
.main .box1 .box_content .box1_right_bottom>span{
    right:1%;
    top:3%;
}

.modal-body img {
    width: 98%;
    height: 98%;
    margin-left: 1%;
    margin-top: 1%;
}
.bottom-right_top_left .modal-body img{
    width: 55%;
    height: 100%;
    margin-left: 22.5%;
}
.main .box1 .box_content .box1_right {
    width: 60%;
    height: 100%;
    float: left;
}

.box1_right_top {
    width: 100%;
    height: 50%;
}

.box1_right_bottom {
    width: 100%;
    height: 47%;
    /*background-color: rgba(13, 23, 80, 0.4);*/
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
    position: relative;
    margin-top: 2%;
}
.box1_right_bottom  .fxsjmx{
    width: 100%;
    height: 100%;
    background: url("../imgs/fengxian.png") no-repeat;
    background-size: 100% 100%;
}

.bottom-right_top_left {
    width: 49%;
    height: 100%;
    float: left;
    background-color: rgba(13, 23, 80, 0.4);
    box-shadow: 0 0 15px rgba(13, 23, 80, 0.6);
    position: relative;
    margin-right: 2%;
}
.bottom-right_top_left .fxzlzb{
    width: 65%;
    height: 70%;
    background: url("../imgs/pie_echart.png") no-repeat;
    background-size: 100% 100%;
    margin: 15% auto 0 auto;
}

.bottom-right_top_right {
    width: 49%;
    height: 100%;
    float: left;
    background-color: rgba(13, 23, 80, 0.4);
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
    position: relative;
}
.bottom-right_top_right_top{
    width: 100%;
    height: 50%;
    padding-top: 10%;
}
.bottom-right_top_right_bottom{
    width: 100%;
    height: 50%;
    padding-top: 10%;
    position: relative;
}
.yhs{
    width: 100%;
    height: 85%;
    background: url("../imgs/graph1.png") no-repeat;
    background-size: 100% 100%;
}
.cdzj{
    width: 100%;
    height: 85%;
    background: url("../imgs/graph2.png") no-repeat;
    background-size: 100% 100%;
}

/*修改弹出框样式*/
.modal-dialog{
    width: 70%;
    height: 90%;
    margin: 0 auto;
}
.modal-body{
    width: 100%;
    height: 90%;
    background: url("../imgs/modal_bg.png") no-repeat;
    background-size: 100% 100%;
}
.modal-content{
    background-color: transparent;
    width: 100%;
    height:100%;
}
.modal-title{
    color: white;
    font-size: 1.3em;
}
.modal-header{
    border-bottom: none;
}
.main .box1 .box_content .modal-header>.close span{
    background: none;
    width: 2em;
    height: 2em;
    z-index: 9999;
}
